/* all pages general design */
*{
  text-align: center;
 
}
/* home */
.home{
  background-image: url("./nordwood-themes-kRNZiGKtz48-unsplash.jpg");
  background-size:cover ;
  width: 100%;
  height: 100vh;
  opacity: 1.1;
  background-color: black;

}
/* NavBar design*/
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.navbar .right-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 100px;

}
.navbar .right-side  a{
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
  color: black;
  
}
.navbar .left-side{
  flex: 1;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.navbar .left-side .menuicon{
  margin-right: 100px;
}
.menuicon:hover{
  color: blue;
  
}

.navbar a:hover{
  border: 1px solid blue;
  cursor: pointer;
}
/* log in page */
.login-container{
  background-color: rgb(28, 28, 86);
  height: 78vh;
  padding-top: 40px;
}
.login {
  max-width: 400px;
  height: 300px;
  margin: 0 auto;
  color: rgb(28, 28, 86);
  border: none;
  box-shadow: -1px 1px 4px black;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  
  
}
input{
  outline:none;
  text-align: left;
  padding-left: 5px;
  border: none;
  
}

 .input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  text-align: start;
  box-shadow:  1px 1px 5px black;
  

}
.login .sign-in .forget{
  display: block;
}
.login .sign-in button ,.login .sign-up button{
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(59, 174, 59);
  color: white;
  cursor: pointer;
  width: 100%;
  display: block;
  box-shadow:  1px 1px 5px black;

}
.login .sign-in p ,.login .sign-up p {
  color: black;
  display: inline;
}
#sign-up{
  display: none;
}
.login .sign-up-btn{
  color: blue;
  display: inline-block;
  cursor: pointer;

}
/* features */
.content-of-feature{
  background-color: rgb(28, 28, 86);
  display: flex;
  flex-direction: row;
  justify-content: space-between ;

  align-items: center;
  padding:40px;
  height: 450px;
}
.content-of-feature .left-side ,.content-of-feature .right-side{
  margin: 8px;
  color: white;
  flex: 1;
}
.content-of-feature .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: left;
  flex: 1;
  
}
.content-of-feature .left-side .section {
  margin: 15px 0px;
  margin-right: 8px;
  line-height:20px;
  width: 280px;
}
.content-of-feature .left-side .section h2{
  font-size: 1.9em;
  width: 350px;
}
.content-of-feature .left-side .section .icon{
  display: flex;
  flex-direction: row;
  justify-content: start ;

}
.content-of-feature .left-side .section .icon .git{
  margin-left: 20px;
}

.content-of-feature .left-side p ,.content-of-feature .left-side a,.content-of-feature .left-side h2{
  text-align: left;
}
.content-of-feature .left-side a{
  text-decoration: none;
  color:  rgb(108, 108, 254);
}

.content-of-feature .right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 60px;
  column-gap: 30px;
}
.content-of-feature .right-side .section{
  border: 5px solid white;
  width: 300px;
  height: 150px;
  position: relative;
}
.content-of-feature .right-side .section .empty{
  width: 70px;
  height: 60px;
  background-color:rgb(28, 28, 86);
  border: none;
  position: absolute;
  left: 10%;
  top: -36px;
  border: none;



}
.content-of-feature .right-side .section .empty .icon{
  margin-top: -3px;
  
}
.content-of-feature .right-side .section .text{
  margin: 10%;
}
.content-of-feature .right-side .section .text p ,.content-of-feature .right-side .section .text h3{
 text-align: left;
 
}
.content-of-feature .right-side .section .text .more{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(108, 108, 254);
  
}
@media (max-width : 1090px){
  
  .content-of-feature .right-side{
    grid-template-columns: 1fr 1fr;
  }
  .content-of-feature .left-side .section h2{
    width: 270px;
    line-height: 30px;
  }
}

@media (max-width: 1000px){
  .content-of-feature{
    height: 800px;
    padding: 50px;
  }
  .content-of-feature .right-side{
    grid-template-columns: 1fr ;
  }
 
  .content-of-feature .left-side .section h2{
    width: 300px;
  }
}
/*contact design*/

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(9, 9, 41);
}


.contact h2{
  font-weight: bold;
  font-size: 25px;
}

.section-one{
  margin:0px 12px 0px 120px;
  width: 400px;
}
.contact-use{
  margin:0px 0px 0px 0px;
}

.Get-touch{
  margin-top: 14px;
  margin-bottom: 35px;
}

.follow{
  margin-top: 35px;
  margin-bottom: 35px;
}

.address{
  margin-top: 40px;
}

 .social{
  margin-right: 15px;
  margin-top: 30px;
  color:black;
  
 }

 .address-1{
   margin: 4px;
   font-size: 13px;
   font-weight: bold;
   text-decoration: none;
   color: rgb(9, 9, 41);
 }

 .contact p{
  font-size: 13px;
 }

.section-two{
 width: 400px;

}

.send-message{
  margin-bottom: 35px;
  margin-top:31px;
}

.first-last-name{
  width: 126px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-style: bold;
  border-color:  rgb(9, 9, 41);
  margin-right: 25px;
  margin-bottom: 35px;
  outline: none;
}

.info{
  width: 281px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-style: bold;
  border-color:  rgb(9, 9, 41);
  margin-bottom: 35px;
  outline: none;
}

.send-button{
  margin-right: 20px;
  padding: 6px 15px 6px 15px;
  border: none;
  background-color:rgb(9, 9, 41);;
  color: white;
  border-style: 13px ;
  font-weight: bold;
  font-size: 10px;
 cursor: pointer;
 margin-bottom: 35px;
 }

 .contact h1{
  font-weight: bold;
  font-size: 40px;
}

.start-button{
  margin-right: 20px;
  padding: 1px 30px 1px 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(9, 9, 41);
  border-color:rgb(9, 9, 41);
  border-width:2px;
  border-style: 13px ;
 font-weight: bold;
 font-size: 20px;
 cursor: pointer;
}
/* footer */
.footer{
  background-color: rgb(28, 28, 86);
  color: white;
  padding: 80px;
  padding-top: 40px;

  
}
.footer .top{
  display: flex;
  flex-direction:column ;
  justify-content: flex-start;
  align-items: flex-start;
 
 

}
.footer .top p{
  width: 300px;
  text-align: left;
}
.footer .buttom{
  display: flex;
  flex-direction: row ;
  justify-content: start;
  align-items: flex-start;

}
.footer .buttom .section{
  margin: 50px;
  
  text-align: left;
}
.footer .buttom #sec-1{
  margin-left: 0px;
}
.footer .buttom .section p, .footer .buttom .section h2{
  text-align: left;
}
.footer .top h1{
  margin-left: 40px;
}
.footer .buttom .section .bottom{
  color: white;
  border: 2px solid white;
  padding: 4px;
  width: 60px;
}
/* home page's design */
.home-photo{
width: 1360px;
height: 600px;
margin-left: -9px;
} 
.container{
  position: relative;
  display: inline-block;
}
.container::before,
.container::after{
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
}
.container::before{
position: absolute;
border-bottom: 115px solid rgb(46, 90, 90);
border-left: 140px solid transparent;
bottom: 5px;
right:1px;
}
.content{
  position: absolute;
  top: 51px;
}
.h1{
  line-height: 45px;
  text-align: left;
  margin-bottom: 0;
  margin-left: 100px;
  font-weight: 900;
  color: rgb(6, 49, 49);
  font-family: arial;
  padding-top: 90px;
}
.paragraph{
  text-align: left;
  color: black;
  margin-left: 105px;
  margin-top: 15px;
  margin-bottom: 0;
  color: rgb(6, 49, 49);
}  
.buttons{
  width: 300px;
  margin-left: 100px;
  margin-top: 30px;
}
.get-btn,
.start-btn{
  border: 3px solid rgb(6, 49, 49);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  background:none;
  font-family: arial;
  cursor: pointer;
  color: rgb(6, 49, 49);
}
.start-btn{
  padding-left: 19px;
  padding-right: 19px;
  margin-left: 15px;
  text-transform: capitalize;
}
.get-btn:hover,
.start-btn:hover{
  border-style:double;
} 
/* about us */
.about-us-gride
{
  background-color:  rgb(240, 240, 230); 
  display:grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(6, 49, 49);
  width: 1355px;
  height: 600px;
  margin-left: -6px;
}
.aboutUs-left-side{
  margin-left: 30px;
}
span{
  font-size: 60px;
}
.h2{
  padding-top: 80px;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 0;
  font-family: arial;
}
.h22{
  text-align: left;
  margin-left: 92px;
  line-height: 6px;
  margin-top: 6px;
  font-family: arial;
  margin-bottom: 0;
}
.paragraph-about-us{
  font-family: arial;
  text-align: left;
  margin-left: 92px;
  font-size: 12px;
  line-height: 19px;
  margin-top: 51px;
  margin-bottom: 0;
}
.learn{
  font-family: arial;
  text-align: left;
  font-size: 11px;
  line-height: 19px;
  margin-top: 6px;
}
.info{
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 60px;
  color:rgb(6, 49, 49);
  margin-left: 87px;
}
.experience{
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-top: 20px;
  font-size: 14px;
}
.ex{
  margin-top: 27px;
  text-align: left;
  margin-left: 4px;
}
.number,
.number2{
  font-weight: bold;
  font-size: 60px;
  font-family: arial;
}
.companies{
  display: grid;
  grid-template-columns: 60px 1fr;
  margin-top: 20px;
  font-size: 14px;
}
.company{
  margin-top: 27px;
  text-align: left;
  margin-left: 13px;
}
.btns{
  margin-top: 45px;
  width: 600px;
}
.products{
  background-color: rgb(6, 49, 49);
  border: none;
  padding: 10px;
  width: 120px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
  margin-left: -130px;
  transition-duration: 0.5s;
  transition-property: all;
}
.talk{
  background:rgb(6, 49, 49);
  border: none;
  padding: 10px 14px;
  width: 155px;
  color:white;
  font-size: 12px;
  margin-left: 25px;
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  transition-duration: 0.5s;
  transition-property: all;
}
.talk:hover,
.products:hover{
 border: 2px solid rgb(6, 49, 49);
 color: rgb(6, 49, 49);
 background-color: rgb(247, 245, 236);
 cursor: pointer;
 border-radius: 100px;
}
.about-photo{
width: 600px;
height: 570px;
margin-top: 30px;
}


